Repository solei2071/my-speaking-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: add Zod validation for all user inputs (Phase 2)
  src/lib/auth.js
  src/lib/conversation.js
  src/lib/profile.js
  src/lib/validation/schemas.js
  src/routes/api/realtime-token/+server.js
Due: eslint --fix, prettier --write

style: format all code with Prettier
  .claude/settings.local.json
  src/app.html
  src/lib/OnboardingModal.svelte
  src/lib/characters.js
  src/lib/index.js
  src/routes/+page.svelte
  src/routes/auth/callback/+page.svelte
  src/routes/layout.css
  src/routes/login/+page.svelte
  src/routes/page.svelte.spec.js
  src/routes/signup/+page.svelte
  src/routes/test-db/+page.svelte
Due: eslint --fix, prettier --write

feat: fix critical memory leaks (Phase 1)
  .claude/settings.local.json
  src/routes/+page.svelte
Due: eslint --fix, prettier --write

feat: improve error handling (Phase 3)
  .claude/settings.local.json
  src/lib/ErrorBoundary.svelte
  src/lib/utils/timeout.js
  src/routes/+layout.svelte
  src/routes/+page.svelte
Due: eslint --fix, prettier --write

feat: optimize performance (Phase 4)
  src/lib/characters.js
  src/routes/+page.svelte
  supabase/migrations/20260209000000_add_indexes.sql
Due: eslint --fix, prettier --write

feat: add Progress Tracking & Analytics Dashboard
  .claude/settings.local.json
  package-lock.json
  package.json
  src/lib/analytics.js
  src/lib/components/SpeakingTimeChart.svelte
  src/lib/components/StatsCard.svelte
  src/lib/components/StreakCalendar.svelte
  src/lib/validation/schemas.js
  src/routes/+page.svelte
  src/routes/analytics/+page.svelte
  src/routes/api/analytics/stats/+server.js
Due: eslint --fix, prettier --write

chore: update package-lock.json
  package-lock.json
Due: prettier --write

feat: add click-to-save sentences, fix analytics & performance
  eslint.config.js
  src/lib/conversation.js
  src/lib/savedSentences.js
  src/lib/validation/schemas.js
  src/routes/+page.svelte
  src/routes/analytics/+page.svelte
  src/routes/api/analytics/stats/+server.js
  supabase/saved_sentences.sql
Due: eslint --fix, prettier --write

feat: add Auto Send toggle for hands-free voice conversation
  .husky/pre-commit
  package-lock.json
  src/routes/+page.svelte
Due: eslint --fix, prettier --write

feat: add Firefox voice support & conversation scenarios
  .claude/settings.json
  package-lock.json
  src/lib/characters.js
  src/lib/pronunciation.js
  src/lib/scenarios.js
  src/routes/+page.svelte
Due: eslint --fix, prettier --write

version7.0
  .claude/settings.local.json
  package-lock.json
  package.json
  src/lib/characters.js
  src/routes/+page.svelte
Due: eslint --fix, prettier --write

feat: add difficulty levels, session summary, mobile responsive & UX improvements
  src/lib/levels.js
  src/lib/validation/schemas.js
  src/routes/+page.svelte
  src/routes/api/realtime-token/+server.js
Due: eslint --fix, prettier --write

feat: Vercel 배포 준비 - 어댑터 교체, test-db 제거, UI/코드 개선
  package-lock.json
  package.json
  src/lib/ErrorBoundary.svelte
  src/lib/analytics.js
  src/lib/components/StatsCard.svelte
  src/lib/components/StreakCalendar.svelte
  src/routes/+page.svelte
  src/routes/layout.css
  src/routes/page.svelte.spec.js
  src/routes/signup/+page.svelte
  src/routes/test-db/+page.svelte
  svelte.config.js
Due: eslint --fix, prettier --write

feat: OpenAI Realtime → Gemini Live API 전환
  .env.example
  README.md
  package-lock.json
  package.json
  src/lib/characters.js
  src/lib/validation/schemas.js
  src/routes/+page.svelte
  src/routes/api/gemini-chat/+server.js
  src/routes/api/realtime-token/+server.js
Due: eslint --fix, prettier --write

fix gemini chat response and tts auth flow
  src/lib/characters.js
  src/routes/+page.svelte
  src/routes/api/gemini-chat/+server.js
Due: eslint --fix, prettier --write

chore: exclude local metadata from prettier checks
  .prettierignore
Due: none

fix: count daily quota only on successful gemini response
  src/routes/api/gemini-chat/+server.js
Due: eslint --fix, prettier --write

chore: add deploy check script
  scripts/deploy-check.mjs
Due: none

chore: add agent operating playbook and cursor guidance
  .cursor/agents/debugger.md
  .cursor/agents/planner.md
  .cursor/skills/front-end-designer/SKILL.md
  AGENTS.md
Due: prettier --write

chore: update claude local permissions config
  .claude/settings.local.json
Due: prettier --write

fix: add Gemini model fallback and actionable error message
  src/routes/api/gemini-chat/+server.js
Due: eslint --fix, prettier --write

feat: diversify gemini response style to reduce repetitive answers
  src/routes/api/gemini-chat/+server.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,svelte}
  prettier --write: (any of: *.{js,svelte}) or (any of: *.{json,css,md})
